<title>Flight Check-in</title>

<!------------------------------- Meta Tags ------------------------------->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!------------------------------- Stylesheets ------------------------------->
<!-- Bootstrap 4 CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- W3 Schools w3 CSS -->
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

